<form action="">
    <img src="assets/cliente.png" >
    <input type="text" placeholder="Nome" class="form-control">
    <input type="number" placeholder="Idade" class="form-control">
    <input type="text" placeholder="Cidade" class="form-control">

   <button type="button" class="btn btn-primary" *ngIf="btnCadastro">Cadastrar</button>
   <button type="button" class="btn btn-warning" *ngIf="!btnCadastro">Alterar</button>
   <button type="button" class="btn btn-danger" *ngIf="!btnCadastro">Remover</button>
   <button type="button" class="btn btn-secondary" *ngIf="!btnCadastro">Cancelar</button>
</form>

<h1>{{cliente | json}}</h1>
<table class="table">
   <thead>
     <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
        <th>Selecionar</th>
    </tr>
   </thead>

   <tbody>
    <tr *ngFor="let c of clientes; index as i">
      <td>{{i+1}}</td>
      <td>{{c.nome}}</td>
      <td>{{c.idade}}</td>
      <td>{{c.cidade}}</td>
      <td><button class="btn btn-success">Selecionar</button></td>
    </tr>
   </tbody>

</table>
